node_modules
.next
.git
.github
.gitignore
.env
.env.*
!.env.example
backups
*.log
npm-debug.*
prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-shm
prisma/dev.db-wal
prisma/dev.db-bak
public/uploads/*
!public/uploads/emojis
public/uploads/emojis/*
!public/uploads/emojis/rato-gamer.svg
!public/uploads/emojis/unicornio.svg
!public/uploads/emojis/explosao.svg